* {
  margin: 0
}

body {
  font-family: "Raleway", Helvetica, sans-serif;
}

div {
  text-align: center;
}

p {
  margin: 25px;
  text-align: center;
}

button {
  text-align: center;
  padding: 8px;
  width: 125px;
  margin: 0 10px 10px 10px;
  font-family: "Raleway", Helvetica, sans-serif;
  color: rgb(28, 27, 27);
}

.deposit {
  background-color: rgb(70, 197, 70);
  border-radius: 5px;
  border-width: 1.5px;
}

.deposit:hover {
  background-color:rgb(104, 209, 104);
}

.withdraw {
  background-color: orange;
  border-radius: 5px;
  border-width: 1.5px;
}

.withdraw:hover {
  background-color:rgb(247, 180, 56);
}


.balance {
  background-color: rgb(2, 167, 249);
  border-radius: 5px;
  border-width: 1.5px;
}

.balance:hover {
  background-color:rgb(63, 184, 244);
}

